@import url(./css/normalize.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.app {
  max-width: 565px;
  width: 90%;
  margin: 0 auto; }

input,
textarea {
  font-family: 'Source Sans Pro', sans-serif;
  outline: none;
  border: none; }

h1,
h2,
h3 {
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
  color: #494849;
  margin-bottom: 5px; }

p,
span {
  font-size: 14px;
  line-height: 23px;
  color: #747474;
  margin: 3px 0px 15px 0px; }

a {
  color: inherit;
  text-decoration: none; }

small,
.small {
  color: #747474;
  font-size: 14px; }

.btn {
  background: #0183FB;
  padding: 7px 16px 9px 16px;
  border-radius: 25px;
  color: #FDFEFE;
  font-size: 12px;
  font-weight: 600;
  margin-right: 10px; }

.notepreviews {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.notepreview {
  margin-bottom: 25px; }

.createform__title,
.createform__body {
  border: none;
  display: block;
  width: 100%; }

.createform__title {
  font-size: 19px;
  line-height: 25px;
  font-weight: 700;
  color: #494849;
  margin-top: 19px; }

.createform__body {
  font-size: 14px;
  line-height: 23px;
  color: #747474;
  margin-top: 3px;
  min-height: 250px; }
